html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #111524;
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    user-select: none;
}

#Logo {
    font-size: 24px;
    font-style: italic;
    cursor: pointer;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    font-size: 17px;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav:hover:not(.active) {
    background-color: #fafafa;
    color: #111524;
}

.nav.active {
    background-color: #fafafa;
    color: #111524;
}

#home, #services, #contact {
    background-color: #fafafa;
    width: 100%;
    height: 954px;
    font-family: Arial, Helvetica, sans-serif;
}

#about, #project{
    background-color: #111524;
    width: 100%;
    height: 954px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    padding-top: 216px;
}

#greeting, h1, p {
    margin: 0;
    margin-left: 101px;
    color: #111524;
    font-family: Arial, Helvetica, sans-serif;
}

#greeting{
    width: 600px;
    font-weight: bold;
    font-size: 34px;
}

h1{
    width: 700px;
    margin-left: 91px;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
}

#intro{
    width: 600px;
    font-weight: bold;
    font-size: 18px;
}

#discription{
    font-size: 18px;
    padding-top: 50px;
    font-weight: lighter;
    width: 600px;
}

.icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin-left: 24px;
  cursor: pointer;
}

.icons{
    width: 600px;
    margin-top: 17px;
    margin-left: 81px;
}

.buttons{
    width: 600px;
    margin-top: 46px;
    margin-left: 101px;
}

button{
    margin-right: 64px;
    width: 168px;
    height: 58px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    cursor: pointer;
}

#aboutB{
    background-color: #111524;
    color: #fafafa;
    border: none;
}

#contactB{
    background-color: #fafafa;
}

.header{
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    padding-top: 80px;
}

#AboutHeader{
    color: #fafafa;
}

#ServicesHeader{
    color: #111524;
}

#ProjectsHeader{
    color: #fafafa  ;
}

#ContactsHeader{
    color: #111524;
}
